#navbarSupportedContent
{
    text-align: center;
}
.nav-item
{
    margin-left:2rem ;
}

.container-rule{
    background-color: rgb(238, 245, 243);
    padding: 5% 2.5%;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 2px -2.50px #000000;
}
 @media screen and (max-width:580px )
  {
        .ad-img{
            height:240px;
        }  
  }